body {
  background: #2A3249;
  font-family: 'Roboto Slab', serif;
  font-size: 5.2rem;
  padding: 1.5rem 5%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}