*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
}
.profile{
    margin-left: 20px;
    margin-top: 20px;
}
.profile h3{
    color: blue;
}
.profile h5{
    margin-top: 20px;
}

.working-experience{
    display: flex;
}
.working-experience .work{
    margin-left: 15px;
}
.contain{
    display: flex;
}
.contain .language-skill{
    margin-right: 10px;
}
.star{
    color: yellow;
}
